.container {
  width: 100vw;
  height: 100vh;

  display: flex;

  flex-direction: column;
}

@media (width >= 992px) {
  .container {
    flex-direction: row;
  }
}

.content {
  padding: 2rem 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

@media (width >= 768px) {
  .content {
    padding: 2rem;
  }
}

@media (width >= 992px) {
  .content {
    padding: 2rem 4rem;
  }
}
