.bar {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--white);

  padding: 1rem 0.75rem;

  border-bottom: 1px solid var(--border-primary)
}

.logo  {
  display: inline-flex;
}


@media (width >= 768px) {
  .bar {
    padding: 1rem 2rem;
  }
}

@media (width >= 992px) {
  .bar {
    display: none;
  }
}

.menu {
  padding: 0;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  cursor: pointer;
}

.menu:disabled {
  opacity: .4;
  cursor: not-allowed;
}
